body{
    background-color: #AFF4F9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#ladolar{
    font-size: 1.5em;
    font-weight: bolder;
    color: #66c5e2;
}
div{
    box-shadow: 1px 1px 10px #618a8d88;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 400px;
    background-color: white;
}
#lareal{
    font-size: 1.5em;
    font-weight: bolder;
    color: #76e981;
}
input{
    padding: 10px;
    border: 1px solid;
    border-radius: 5em;
}
button{
    border-radius: 6px;
    font-weight: bolder;
    color: #F0F0F0;
    height: 40px;
    border: none;
    width: 100px;
    background-color: #205a61c0;
}
button:hover{
    background-color: transparent;
    color: #205a61c0;
    box-shadow: 1px 1px 8px #205a61c0;
}